# Ignore node_modules
node_modules/

# Ignore environment variables
.env.local
.env

# Ignore build folders
dist/
.next/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store